  <?xml version="1.0"?>
  <model>
    <name> diff_drive_robot </name>
    <version>1.0</version>
    <sdf>urdf/diff_drive.urdf</sdf>
    <author>
      <name>Rohit SHeth</name>
      <email>rssheth@wpi.edu</email>
    </author>
    <description>
      Simple Diff Drive Robot
    </description>
  </model>